<div id="<%= day %>-hours" class="
  <%= isActivity && locals.oldData && ((oldData[`${day}_in`] || oldData[`${day}_out`]) || (oldData[`second_${day}_in`] || oldData[`second_${day}_out`]))  ? "" : "hide" %>">
  <h3 class="m-auto"><%= title %></h3>
  <div id="first-<%= day %>-hours">
    <div class="flex flex-wrap">
      <p class="fs-18 w-100">
        Desde:
        <label for="<%= day %>-in" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
        , Hasta:
        <label for="<%= day %>-out" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
      </p>
      <p id="add-second-<%= day %>-hours" class="add-hours fs-15 p-2px m-5 pointer
        <%= isActivity && locals.oldData && (oldData[`${day}_in`] && oldData[`${day}_out`]) ? "" : "hide" %>">
        <i class="fa-solid fa-plus"></i>
        Agregar horario
      </p>
    </div>
    <div class="first-hours-inputs flex jc-center">
      <input type="time" name="<%= day %>_in" id="<%= day %>-in" class="first-hours-input m-5  border-none input-hours p-5px border-rad hide" value="<%= isActivity && locals.oldData && oldData[`${day}_in`] ? oldData[`${day}_in`] : "";%>" />

      <input type="time" name="<%= day %>_out" id="<%= day %>-out" class="first-hours-input m-5  border-none input-hours p-5px border-rad hide" value="<%= isActivity && locals.oldData && oldData[`${day}_out`] ? oldData[`${day}_out`] : "";%>" />

    </div>
    <% if ( isActivity && locals.errors && locals.errors[`${day}_in`]) { %>
    <p class="txt-error"><%= errors[`${day}_in`].msg %></p>
    <% } %>
    <% if ( isActivity && locals.errors && locals.errors[`${day}_out`]) { %>
    <p class="txt-error"><%= errors[`${day}_out`].msg %></p>
    <% } %>
  </div>

  <div id="second-<%= day %>-hours" class="
    <%= isActivity && locals.oldData && (oldData[`second_${day}_in`] || oldData[`second_${day}_out`])
    ? ""
    : "hide" %>">
    <div class=" flex flex-wrap">
      <p class="fs-18 w-100">
        y Desde:
        <label for="second_<%= day %>_in" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
        , Hasta:
        <label for="second_<%= day %>_out" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
      </p>
    </div>
    <div class="second-hours-inputs flex jc-center">
      <input type="time" name="second_<%= day %>_in" id="second_<%= day %>_in" class="second-hours-input border-none m-5 input-hours p-5px border-rad hide" value="<%= isActivity && locals.oldData && oldData[`second_${day}_in`] ? oldData[`second_${day}_in`] : "";%>" />
      <input type="time" name="second_<%= day %>_out" id="second_<%= day %>_out" class="second-hours-input border-none m-5 input-hours p-5px border-rad hide" value="<%= isActivity && locals.oldData && oldData[`second_${day}_out`] ? oldData[`second_${day}_out`] : "";%>" />
    </div>
    <% if ( isActivity && locals.errors && locals.errors[`second_${day}_in`]) { %>
    <p class="txt-error"><%= errors[`second_${day}_in`].msg %></p>
    <% } %>
    <% if ( isActivity && locals.errors && locals.errors[`second_${day}_out`]) { %>
    <p class="txt-error"><%= errors[`second_${day}_out`].msg %></p>
    <% } %>
  </div>
</div>