<div id="<%= day %>-hours" class="hide">
  <h3 class="m-auto"><%= title %></h3>
  <div id="first-<%= day %>-hours">
    <div class="flex flex-wrap">
      <p class="fs-18 w-100">
        Desde:
        <label for="<%= day %>-in" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
        , Hasta:
        <label for="<%= day %>-out" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
      </p>
      <p id="add-second-<%= day %>-hours" class="add-hours fs-15 p-2px m-5 pointer hide">
        <i class="fa-solid fa-plus"></i>
        Agregar horario
      </p>
    </div>
    <div class="first-hours-inputs flex jc-center">
      <input type="time" name="<%= day %>_in" id="<%= day %>-in" class="first-hours-input m-5  border-none input-hours p-5px border-rad hide" />
      <input type="time" name="<%= day %>_out" id="<%= day %>-out" class="first-hours-input m-5  border-none input-hours p-5px border-rad hide" />
    </div>
  </div>

  <div id="second-<%= day %>-hours" class="hide">
    <div class="flex flex-wrap">
      <p class="fs-18 w-100">
        y Desde:
        <label for="second_<%= day %>_in" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
        , Hasta:
        <label for="second_<%= day %>_out" class="label-hours pointer">
          <i class="fa-solid fa-plus"></i>
        </label>
      </p>
    </div>
    <div class="second-hours-inputs flex jc-center">
      <input type="time" name="second_<%= day %>_in" id="second_<%= day %>_in" class="border-none m-5 input-hours p-5px border-rad hide" />
      <input type="time" name="second_<%= day %>_out" id="second_<%= day %>_out" class="border-none m-5 input-hours p-5px border-rad hide" />
    </div>
  </div>
</div>