<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <script defer src="/js/activity-tickets-form.js"></script>
  <title>comprar ticket</title>
</head>

<body>
  <%- include('./partials/nav') %>

  <main class="w-90 top-70 m-auto max-w-1 bg-5">

    <h2 class="txt-center border-xy m-10"><%= activity.name %></h2>

    <!-- images -->
    <section class="p-10px">
      <ul class="flex flex-wrap gap-y-10 w-90 m-auto ">
        <% activity.images.forEach((image, i) => { %>
        <li class="list-card">
          <figure class="cont-card-img of-hidden pos-relative flex al-items">
            <img src=" <%= image.image %>" alt="imágen de <%= activity.name %> numero <%= i %>" class="card-img pos-absolute w-100">
          </figure>
        </li>
        <% }) %>
      </ul>
    </section>

    <!-- info -->
    <section>
      <p class="p-10px txt-center w-90 m-auto m-10"><%= activity.description %></p>
      <h3 class="txt-center border-xy m-10">información</h3>

      <article class="w-80 m-auto flex flex-wrap jc-evenly">
        <h3 class="p-top-10 w-100 txt-center">horarios</h3>
        <div class="p-10px max-w-4">
          <h4 class="txt-center">Dias de semana:</h4>
          <% if (activity.hours?.weekday_hours){ %>
          <p class="fs-15"><%= activity.hours.weekday_hours %></p>
          <p class="fs-15">
            <%= activity.hours.second_weekday_hours ?" y " +
            activity.hours.second_weekday_hours : ""; %>
          </p>
          <% } else { %>
          <p class="fs-15">Esta actividad no cuenta con horario de día de semana</p>
          <% } %>
        </div>

        <!-- Si existe una primera hora de fin de semana -->
        <div class="p-10px max-w-4">
          <h4 class="txt-center">Fines de semana:</h4>
          <% if (activity.hours?.weekend_hours){ %>
          <p class="fs-15"><%= activity.hours.weekend_hours %></p>
          <p class="fs-15">
            <%= activity.hours.second_weekend_hours ?", y " +
            activity.hours.second_weekend_hours : ""; %>
          </p>
          <% } else { %>
          <p class="fs-15">Esta actividad no cuenta con horario de fin de semana</p>
          <% } %>
        </div>

        <p class="p-10px w-100 txt-center"><b>Cantidad maxima de boletos:</b> <%= activity.max_place %></span></p>

        <p class="p-10px w-100 txt-center"><b>precio x boleto:</b> $ARS <span id="price-activity"><%= activity.price %></span></p>
      </article>

    </section>

    <!-- form -->

    <h3 class=" txt-center m-10 border-xy">formulario</h3>
    <form action="/products/activities/tickets/<%= activity.id %>" method="post" class="w-80 max-w-2 m-auto flex flex-wrap p-10px">
      <label for="input-date" class="p-10px w-100">
        Día:
        <input type="date" name="day" id="input-date" class="p-10px border-rad border-none" value="<%= oldData?.day ? oldData.day : ""; %>">
      </label>

      <p id="whatDaySelect" class="fs-15 p-10px">Todavía no a seleccionado un día</p>
      <label for="hour" class="p-10px w-100">
        Horario:

        <select name="hour" id="hour" class="p-10px border-rad border-none">
          <option value="default" disabled <%= oldData?.hour ? "" : "selected" %>>Selecciona horario:</option>

          <% if (activity.hours.weekday_hours) { %>
          <option value="<%= activity.hours.weekday_hours %>" class="weekday-option hide" <%= (oldData?.hour == activity.hours.weekday_hours) ? "selected" : "" %>><%= activity.hours.weekday_hours %></option>
          <% } %>

          <% if (activity.hours.second_weekday_hours) { %>
          <option value="<%= activity.hours.second_weekday_hours %>" class="weekday-option hide" <%= (oldData?.hour == activity.hours.second_weekday_hours) ? "selected" : "" %>><%= activity.hours.second_weekday_hours %></option>
          <% } %>

          <% if (activity.hours.weekend_hours) { %>
          <option value="<%= activity.hours.weekend_hours %>" class="weekend-option hide" <%= (oldData?.hour == activity.hours.weekend_hours) ? "selected" : "" %>><%= activity.hours.weekend_hours %></option>
          <% } %>

          <% if (activity.hours.second_weekend_hours) { %>
          <option value="<%= activity.hours.second_weekend_hours %>" class="weekend-option hide" <%= (oldData?.hour == activity.hours.second_weekend_hours) ? "selected" : "" %>><%= activity.hours.second_weekend_hours %></option>
          <% } %>

        </select>

      </label>

      <label for="quantity" class="p-10px w-100">
        Cantidad de boletos:
        <select name="quantity" id="quantity" class="p-10px border-rad border-none">
          <% for( let i = 1; i <= activity.max_place; i++ ) { %>
          <option value="<%= i %>" <%= (oldData?.quantity == i) ? "selected" : ""; %>><%= i %></option>
          <% } %>
        </select>
      </label>

      <div class="w-100 flex jc-center">
        <button type="submit" class="but-reserva- border-none">Comprar tickets</button>
      </div>

      <input type="number" name="total" id="total" class="hide">
    </form>
  </main>

  <%- include('./partials/footer') %>

</body>

</html>