<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Actividades</title>
</head>
<body>
   
    <header>
        <!-- nav fijo -->
        <%- include("./partials/nav") %>
        <!-- nav fijo -->
   </header>

 <section>
    <section class="p-1 m-30 flex flex-wrap gap">
        <article class="w-80 m-30 txt-center">
            <h2 class="m-30 p-top-10">Actividades</h2>
            <p class="p-top-10 txt-center">
                En nuestro pueblo podrás ocupar tu tiempo de la manera que más te guste.
                 Descanso y relajación, senderismo, fogatas, cabalgatas, bicicletas
                  y un sin fin de actividades para que disfrutes como más te guste.
            </p>
        </article>
    </section>

    <section  class="p-8px flex flex-wrap gap">

        <article id="cont-act" class="flex flex-wrap">

                <div class="w-80 of-hidden bg-5 cont-act border p-8px pos-relative flex flex-wrap">
                        <% activities.forEach(activity => { %>
                            

                        <li
                            class="list-card border-rad p-10px flex flex-d-column jc-bet"
                        >
                            <div class="act-inf">
                                <h2 class="txt-center">
                                    <%= activity.title %>
                                </h2>
                                <figure
                                    class="cont-card-img m-auto of-hidden m-auto flex jc-center al-items pos-relative"
                                >
                                    <img
                                        class="act-img pos-absolute"
                                        src="<%= activity.images[0]?.image || activity.images[0]%>"
                                        alt="Actividad"
                                    />
                                </figure>
                                <div
                                    class="qual-star flex jc-end m-auto p-top-10"
                                >
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i
                                        class="fa-regular fa-star-half-stroke"
                                    ></i>
                                </div>
                                <h2>Dias y horarios:</h2>
                                <p class="fs-15">
                                    Días de semana: de <%=
                                    activity.time_start %> a <%=
                                    activity.time_end %> <%=
                                    activity.time_start ? ` y de
                                    ${activity.time_start} a
                                    ${activity.time_end}`: ""; %>
                                </p>
                                <p class="fs-15">
                                    Fines de semana: de <%=
                                    activity.wknd_time_start %> a <%=
                                    activity.wknd_time_end %> <%=
                                    activity.wknd_time_start ? ` y de
                                    ${activity.wknd_time_start} a
                                    ${activity.wknd_time_end}`: "";
                                    %>
                                </p>
                            </div>
                            <div class="flex jc-center p-10px">
                                <a
                                    href="/activities"
                                    class="cottage-button bg-3 txt-center"
                                >
                                    Reservar
                                </a>
                            </div>
                        <% {activity, activities} });  %>
                        
        
                </div>
            
        </article>
    </section>

 


    <%- include("./partials/footer") %>
    
</body>
</html>