<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <title>Detalle del producto</title>
  <link rel="stylesheet" href="/css/style-pd-footer.css" />
  <script defer src="/js/cottage-booking-form.js"></script>
</head>

<body>
  <%- include("./partials/nav") %>
  <main class="m-auto max-w-1">
    <section class="date-select">

      <form id="form" action="/products/cottages/booking/<%= cottage.id %>" method="post" class="flex flex-wrap jc-evenly p-1rem">

        <div class="w-100 flex space-around">
        <label for="check-in" class="label-check bg-5 txt-center fs-18  border-solid m-10">Check-in</label>
        <label for="check-out" class="label-check bg-5 txt-center fs-18 border-solid m-10">Check-out</label>
        </div>

        <div class="w-100 flex space-around">
        <input type="date" name="check_in" id="check-in" class="input-check-in bg-4 fc-37 txt-center article-fecha fs-18 border-rad p-10px w-34-especial" value="<%= oldData?.check_in ? oldData.check_in : "" ; %>" />
        <input type="date" name="check_out" id="check-out" class="input-check-out bg-4 fc-37 txt-center article-fecha fs-18 border-rad p-10px w-34-especial" value="<%= oldData?.check_out ? oldData.check_out : "" ; %>" />
        </div>

        <center class="w-100">
          <select name="guest" class="selector-huesped flex m-10">
          <option selected disabled>
            Cantidad de huéspedes
          </option>
          <% for (let i = 1; i <= cottage.guest ; i++) { %>
          <option value="<%= i %>" <%= (oldData?.guest == i) ? "selected" : "" %>><%= i %></option>
          <% } %>
          </select>
        </center>

        <input type="number" name="total" id="total" class="hide">

      
      </form>
   
      <section class="">
        <% if (errors?.check_in) { %>
        <p class="txt-error txt-center"><%= errors.check_in.msg %></p>
        <% } %>

        <% if (errors?.check_out) { %>
        <p class="txt-error txt-center"><%= errors.check_out.msg %></p>
        <% } %>

        <% if (errors?.guest) { %>
        <p class="txt-error txt-center"><%= errors.guest.msg %></p>
        <% } %>

        <% if (errors?.total && !errors.check_in && !errors.check_out) { %>
        <p class="txt-error txt-center"><%= errors.total.msg %></p>
        <% } %>
      </section>

      <hr class="hr" />
    </section>
    <h1 class="w-100 p-1rem fc-37 fs-25 txt-center"><%= cottage.name %></h1>

    <section class="w-100 fc-37 flex">
      <div class="ft-producto-elegido flex flex-wrap p-1rem jc-center">
        <img src="<%= cottage.images[0].image%>" alt="foto número 1 de cabaña <%= cottage.name %>" class="w-100 p-2px img-productDetail-1 box-shadow" />
        <div class="flex jc-bet">
          <% for(let i = 1; i <= 3; i++){ %>
          <% if(cottage.images[i]) { %>
          <img src="<%= cottage.images[i].image%>" alt="foto número <%= (i + 1) %> de cabaña <%= cottage.name %>" class="p-2px img-productDetail-2 box-shadow h-100" />
          <% } %>
          <% } %>
        </div>
      </div>
      <aside class="p-1rem aside-prod-detail ">
        <div class="flex flex-wrap">
       
          <h3 class="aside-precio p-bot-20px">Por noche: $ARS <span class="price"><%= cottage.price %></span></h3>

          <div class="desde-hasta flex jc-evenly txt-center">
            <div class="check-info bg-4 p-5px border-rad">
              <h4>check-in:</h4>
              <p class="check-in-info">DD/MM/AAAA</p>
            </div>
            <div class="check-info bg-4 p-5px border-rad">
              <h4>check-out:</h4>
              <p class="check-out-info">DD/MM/AAAA</p>
            </div>
          </div>

          <p class="w-100 aside-dias p-bot-20px">
            Cantidad de días: <span class="cantidad-dias">x</span>
          </p>

          <h3 class="aside-total">Total: $ARS <span class="total-info">0</span> </h3>
          <button type="submit" class="border-none aside-but fs-18">Reservar</button>


        </div>
      </aside>
    </section>
    <hr class="hr" />
    <p class="txt-center fs-18 p-2px">
      <%= `${cottage.guest} huespedes . ${cottage.bedrooms} dormitorios . ${cottage.beds} camas . ${cottage.bathrooms} baños` %>
    </p>
    <hr class="hr" />

    <div class="flex flex-wrap p-1rem">
      <h3 class="w-100 p-10px fs-18 f-37 txt-center">Servicios</h3>

      <ul class="w-50 m-auto flex flex-wrap flex-d-column">
        <% cottage.services.forEach(service =>{ %>
        <li class="m-10 txt-center">
          <%= service.service %>
        </li>
        <%  }) %>
      </ul>
    </div>

    <section class="fc-37 fs-18 marg-end">
      <h3 class="w-100 txt-center p-1rem f-f fs-18">
        <i class="fa-solid fa-location-dot icon-servicios"></i> Mapa del
        complejo
      </h3>
      <div class="flex flex-wrap jc-center f-f p-1rem">
        <img src="/images/vista-aerea.jpg" alt="100px" class="w-100 p-2px img-map-lugar box-shadow" />
      </div>
    </section>

    <article class="fc-37 border-top bg-5 pos-fixed w-100 p-5px">
      <div class="flex flex-wrap p-2px w-100">
        <h3 class="article-precio">$ARS <span class="price"><%= cottage.price %></span></h3>
        <p class="article-x-noche">x noche</p>
        <h4 class="article-total w-100">Total: $ARS <span class="total-info">0</span></h4>
      </div>
      <div class="flex flex-wrap p-2px w-100">
        <h4 class="desde-hasta">Desde: <span class="check-in-info">DD/MM/AAAA</span> Hasta: <span class="check-out-info">DD/MM/AAAA</span></h4>
        <div class="w-100 flex flex-wrap jc-bet">
          <h4>Cantidad de días: <span class="cantidad-dias"></span></h4>
          <button form="form" type="submit" class="border-none but-reserva- fs-18">Reservar</button>
        </div>
      </div>
    </article>
  </main>

  <%- include("./partials/footer") %>
</body>
</html>