<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <title>Crear</title>
  <link rel="stylesheet" href="/css/style-pd-footer.css">
  <script defer src="/js/create-forms/create-activity-form.js"></script>
  <script defer src="/js/create-forms/create-cottage-form.js"></script>
  <script defer src="/js/create-forms/show-create-form.js"></script>
</head>

<body>

  <main id="forms-create-products" class="w-90 m-auto ">
    <div class="flex jc-evenly">
      <p id="show-create-cottage-form" class="
      show-form-button <%= isActivity ? "":"show-form-button-active"; %> w-50 txt-center p-10px pointer border-rad box-shadow">
        Cabañas
      </p>

      <p id="show-create-activity-form" class="
      show-form-button <%= isActivity ? "show-form-button-active":""; %> w-50 txt-center p-10px pointer border-rad box-shadow">
        Actividades
      </p>
    </div>
    <section>
      <%- include('./partials/create-form/cottage-form/create-cottage-form') %>
      <%- include('./partials/create-form/activity-form/create-activity-form') %>
    </section>
  </main>
</body>

</html>