<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <title>Confirmación para borrar</title>
    </head>

<body>
  <%- include("./partials/nav-login-register", {title: "Confirmación para borrar"})  %>

  <h1 class="txt-center">¿Seguro que quieres borrar <%= product.name %>?</h1>
  <figure class="txt-center"><img class="img-delete" src="<%= product.images[0].image %>" alt=""></figure>
  

  <form action="/products/<%= productType %>/delete/<%= product.id %>?_method=delete" method="post">
    <div class="txt-center m-10">
    <input type="submit" value="Borrar" class="boton-delete">
  </div>
  </form>
</body>

</html>