<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <title>Domum</title>
    </head>

    <body>
        <header class="main-header bg-5">
            <!-- nav fijo -->
            <%- include("./partials/nav") %>
            <!-- nav fijo -->

            <!-- carrusel -->
            <div class="carrousel pos-relative flex m-auto of-hidden">
                <h2 class="pos-absolute txt-center w-100 title bg-4 fc-37">
                    COMO EN TU HOGAR
                </h2>
                <ul class="flex m-auto">
                    <li class="of-hidden flex jc-center">
                        <img
                            src="/images/slider-home01.jpg"
                            alt="imagen de referencia 1"
                        />
                    </li>
                    <li class="of-hidden flex jc-center">
                        <img
                            src="/images/slider-home02.jpg"
                            alt="imagen de referencia 2"
                        />
                    </li>
                    <li class="of-hidden flex jc-center">
                        <img
                            src="/images/slider-home03.jpg"
                            alt="imagen de referencia 3"
                        />
                    </li>
                    <li class="of-hidden flex jc-center">
                        <img
                            src="/images/slider-home04.jpg"
                            alt="imagen de referencia 4"
                        />
                    </li>
                    <li class="of-hidden flex jc-center">
                        <img
                            src="/images/slider-home01.jpg"
                            alt="imagen de referencia 1"
                        />
                    </li>
                </ul>
            </div>
            <!-- carrusel -->
        </header>

        <main>
            <!-- breve descripción -->
            <section id="info-domum" class="p-1rem">
                <h1 class="txt-center title">Complejo de cabañas Domum</h1>

                <p class="txt-center p-top-10">
                    Nuestros alojamientos, buscan superar las expectativas de
                    nuestros clientes, mejorando constantemente.
                </p>
            </section>

            <!-- apartado de cabañas -->
            <section id="cabañas">
                <article>
                    <ul
                        class="flex jc-center m-auto p-1rem"
                        id="cottage-selector"
                    >
                        <li class="txt-center">
                            <a href="#" class="cottage-button bg-3">Pequeña</a>
                        </li>
                        <li class="txt-center">
                            <a href="#" class="cottage-button bg-3">Mediana</a>
                        </li>
                        <li class="txt-center">
                            <a href="#" class="cottage-button bg-3">Grande</a>
                        </li>
                    </ul>
                </article>

                <div class="cot-nav flex m-auto">
                    <button class="scroll-button prev-button">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="scroll-button order-1 next-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>

                    <article class="m-auto cont-cottage w-80 bg-5">
                        <ul class="cottage-list flex of-auto">
                            <% cottage.forEach(cabana => { %>

                            <li class="list-card">
                                <figure
                                    class="pos-relative of-hidden cont-card-img flex al-items"
                                >
                                    <img
                                        class="card-img"
                                        src="<%= cabana.image[0] %> "
                                        alt="foto de cabaña"
                                    />

                                    <a
                                        href="#"
                                        class="share-button pos-absolute flex"
                                    >
                                        <i class="fa-solid fa-share-nodes"></i>
                                    </a>

                                    <div
                                        class="icons-beds flex pos-absolute w-100"
                                    >
                                        <i class="fa-solid fa-bed icon-bed"></i>
                                        <i class="fa-solid fa-bed icon-bed"></i>
                                        <i class="fa-solid fa-bed icon-bed"></i>
                                    </div>
                                </figure>

                                <h2 class="txt-center"><%= cabana.name %></h2>
                                <div class="info-card">
                                    <p
                                        class="p-top-10 txt-center cottage-description"
                                    >
                                        <%= cabana.description %>
                                    </p>
                                    <h3 class="p-top-10 txt-center">
                                        servicios principales
                                    </h3>

                                    <ul class="flex">
                                        <% for (let i = 0; i < 4; i++) { %>

                                        <li class="m-10 serv-icon">
                                            <%= cabana.servs[i] %>
                                        </li>

                                        <% } %>
                                    </ul>

                                    <div
                                        class="price-res flex w-100 jc-bet al-items"
                                    >
                                        <h3>
                                            precio por noche: $<%= cabana.price
                                            %>
                                        </h3>
                                        <a
                                            href="/product/details/<%= cabana.id  %> "
                                            class="cottage-button txt-center bg-3"
                                            >reservar</a
                                        >
                                    </div>
                                </div>
                            </li>

                            <% }); %>
                        </ul>
                    </article>
                </div>
            </section>

            <!-- apartado de actividades -->
            <section id="actividades" class="m-auto">
                <article class="p-1rem w-80 m-auto txt-center">
                    <h2 class="">Actividades</h2>
                    <p class="p-top-10">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Soluta adipisci enim vel eos ullam rem eaque aliquam
                        nulla laborum possimus.
                    </p>
                </article>

                <article id="cont-act" class="flex flex-wrap">
                    <div class="act-nav flex m-auto flex w-100">
                        <button class="scroll-button prev-button">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <button class="scroll-button order-1 next-button">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>

                        <div class="w-80 of-hidden bg-5 cont-act">
                            <ul id="act-list" class="flex of-auto">
                                <% activities.forEach(activity => { %>

                                <li
                                    class="list-card border-rad p-10px flex flex-d-column jc-bet"
                                >
                                    <div class="act-inf">
                                        <h2 class="txt-center">
                                            <%= activity.title %>
                                        </h2>
                                        <figure
                                            class="cont-card-img m-auto of-hidden m-auto flex jc-center al-items pos-relative"
                                        >
                                            <img
                                                class="act-img pos-absolute"
                                                src="<%= activity.img %>"
                                                alt="Actividad"
                                            />
                                        </figure>
                                        <div
                                            class="qual-star flex jc-end m-auto p-top-10"
                                        >
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i
                                                class="fa-regular fa-star-half-stroke"
                                            ></i>
                                        </div>
                                        <h2>Dias y horarios:</h2>
                                        <p class="fs-15">
                                            Días de semana: de <%=
                                            activity.wk_open_act[0] %> a <%=
                                            activity.wk_close_act[0] %> <%=
                                            activity.wk_open_act[1] ? ` y de
                                            ${activity.wk_open_act[1]} a
                                            ${activity.wk_close_act[1]}`: ""; %>
                                        </p>
                                        <p class="fs-15">
                                            Fines de semana: de <%=
                                            activity.wknd_open_act[0] %> a <%=
                                            activity.wknd_close_act[0] %> <%=
                                            activity.wknd_open_act[1] ? ` y de
                                            ${activity.wknd_open_act[1]} a
                                            ${activity.wknd_close_act[1]}`: "";
                                            %>
                                        </p>
                                    </div>
                                    <div class="flex jc-center p-10px">
                                        <a
                                            href=""
                                            class="cottage-button bg-3 txt-center"
                                        >
                                            Más información
                                        </a>
                                    </div>
                                </li>

                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>

            <!-- apartado información general-->
            <section class="info-general flex flex-wrap jc-center">
                <!--botones-->
                <article class="Flex flex-wrap w-100">
                    <h2 class="txt-center p-1rem w-100">Información general</h2>

                    <ul
                        class="flex w-100 jc-center m-auto p-1rem flex-wrap"
                        id="info-general"
                    >
                        <li class="p-1rem">
                            <a
                                href="#location"
                                class="cottage-button bg-3 box-shadow"
                                ><i class="fa-solid fa-location-dot"></i
                            ></a>
                        </li>
                        <li class="p-1rem">
                            <a
                                href="#preguntasFrecunetes"
                                class="cottage-button bg-3 box-shadow"
                                ><i class="fa-solid fa-question"></i
                            ></a>
                        </li>
                        <li class="p-1rem">
                            <a
                                href="#quienesSomos"
                                class="cottage-button bg-3 box-shadow"
                                ><i class="fa-solid fa-users"></i
                            ></a>
                        </li>
                    </ul>
                </article>

                <!--donde estamos-->
                <article
                    class="flex flex-d-column al-items bg-5 border-rad m-20"
                    id="location"
                >
                    <h1 class="m-10">¿Donde estamos?</h1>
                    <iframe
                        class="de-maps"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d297036.76031724334!2d-58.60718037547631!3d-34.659158741183155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb14540715555%3A0x95502fb2a3baf427!2sDomun!5e0!3m2!1ses-419!2sar!4v1673106916534!5m2!1ses-419!2sar"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                    <p class="m-20">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Vero ratione nobis quia magnam odio quaerat numquam
                        libero distinctio, harum nesciunt animi dicta voluptates
                        porro corporis illum eum a autem qui?
                    </p>
                </article>

                <!--preguntas frecuentes-->
                <div
                    class="preguntas-frecuentes flex flex-d-column al-items bg-5 border-rad m-20"
                    id="preguntasFrecunetes"
                >
                    <h3
                        class="txt-center p-top-10 w-100"
                        id="preguntasFrecuntes"
                    >
                        Preguntas Frecuentes
                    </h3>
                    <div class="input-preguntas">
                        <nav class="Flex p-1rem nav-lista">
                            <ul>
                                <hr />
                                <li class="list-click">
                                    <div
                                        class="list-preg p-10px flex flex-wrap"
                                    >
                                        <h4>Primera Pregunta</h4>
                                        <button class="but-preg">
                                            <i
                                                class="fa-solid fa-chevron-right arrow-but fc-3 m-lef-10px"
                                            ></i>
                                        </button>
                                    </div>
                                    <div class="list-respu">
                                        <p class="respuesta p-5px fc-37">
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Amet
                                            quia consectetur earum, nulla ipsam
                                            aperiam explicabo delectus off
                                        </p>
                                    </div>
                                </li>
                                <hr />
                                <li class="list-click">
                                    <div
                                        class="list-preg p-10px flex flex-wrap"
                                    >
                                        <h4 class="pregunta">
                                            Segunda Pregunta
                                        </h4>
                                        <button class="but-preg">
                                            <i
                                                class="fa-solid fa-chevron-right arrow-but fc-3 m-lef-10px"
                                            ></i>
                                        </button>
                                    </div>
                                    <div class="list-respu">
                                        <p class="respuesta p-5px fc-37">
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Amet
                                            quia consectetur earum, nulla ipsam
                                            aperiam explicabo delectus off
                                        </p>
                                    </div>
                                </li>
                                <hr />
                                <li class="list-click">
                                    <div
                                        class="list-preg p-10px flex flex-wrap"
                                    >
                                        <h4>Tercera Pregunta</h4>
                                        <button class="but-preg">
                                            <i
                                                class="fa-solid fa-chevron-right arrow-but fc-3 m-lef-10px"
                                            ></i>
                                        </button>
                                    </div>
                                    <div class="list-respu">
                                        <p class="respuesta p-5px fc-37">
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Amet
                                            quia consectetur earum, nulla ipsam
                                            aperiam explicabo delectus off
                                        </p>
                                    </div>
                                </li>
                                <hr />
                                <li class="list-click">
                                    <div
                                        class="list-preg p-10px flex flex-wrap"
                                    >
                                        <h4>Cuarta Pregunta</h4>
                                        <button class="but-preg">
                                            <i
                                                class="fa-solid fa-chevron-right arrow-but fc-3 m-lef-10px"
                                            ></i>
                                        </button>
                                    </div>
                                    <div class="list-respu">
                                        <p class="respuesta p-15px fc-37">
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit. Amet
                                            quia consectetur earum, nulla ipsam
                                            aperiam explicabo delectus off
                                        </p>
                                    </div>
                                </li>
                                <hr />
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--quienes somos-->

                <article
                    class="flex flex-d-column al-items bg-5 border-rad m-20"
                    id="quienesSomos"
                >
                    <h1 class="m-10">¿Quienes somos?</h1>
                    <ul class="pos-relative ul-qs">
                        <li class="qui-card li-qs">
                            <figure
                                class="pos-relative of-hidden figure-qs flex al-items"
                            >
                                <img
                                    class="img-qs"
                                    src="/images/cosme.jpg"
                                    alt="cosme"
                                />
                            </figure>

                            <div class="">
                                <h2 class="txt-center">Cosme Fulanito</h2>
                                <p class="p-top-10 txt-center">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Nihil voluptate
                                </p>
                            </div>
                        </li>
                        <li class="qui-card li-qs">
                            <figure
                                class="pos-relative of-hidden figure-qs flex al-items"
                            >
                                <img
                                    class="img-qs"
                                    src="/images/cosme.jpg"
                                    alt="cosme"
                                />
                            </figure>

                            <div class="">
                                <h2 class="txt-center">Cosme Fulanito</h2>
                                <p class="p-top-10 txt-center">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Nihil voluptate
                                </p>
                            </div>
                        </li>
                        <li class="qui-card li-qs">
                            <figure
                                class="pos-relative of-hidden figure-qs flex al-items"
                            >
                                <img
                                    class="img-qs"
                                    src="/images/cosme.jpg"
                                    alt="cosme"
                                />
                            </figure>

                            <div class="">
                                <h2 class="txt-center">Cosme Fulanito</h2>
                                <p class="p-top-10 txt-center">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Nihil voluptate
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
            </section>
        </main>

        <!-- apartado información general-->
        <%- include("./partials/footer") %>
    </body>
    <script src="/js/slider.js"></script>
</html>
