<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %>
  <title>Registro</title>
</head>

<body >
  <%- include("./partials/nav-login-register", {title: "Registrate"})  %>
    <form action="/user/register" method="post" class="form bg-4 box-shadow">
      <div>
        <input type="text" name="name" id="name" placeholder="Nombre"  class=" f-input f-f" value="<%= (locals.oldData && oldData.name) ? oldData.name : "";%>">
        <% if (locals.errors && errors.name){ %>
          <p class="txt-error"><%= errors.name.msg %></p>
        <% } %>

        <input type="text" name="surname" id="surname" placeholder="Apellido"  class="f-input f-f" value="<%= (locals.oldData && oldData.surname) ? oldData.surname : "";%>">
        <% if (locals.errors && errors.surname){ %>
          <p class="txt-error">
            <%= errors.surname.msg %>
          </p>
        <% } %>

        <input type="text" name="email" id="email" placeholder="Email" class="f-input f-f" value="<%= (locals.oldData && oldData.email) ? oldData.email : "";%>">
        <% if (locals.errors && errors.email){ %>
          <p class="txt-error">
            <%= errors.email.msg %>
          </p>
        <% } %>

        <input type="password" name="password" id="password" placeholder="Contraseña"  class="f-input f-f" value="<%= (locals.oldData && oldData.password) ? oldData.password : "";%>">
        <% if (locals.errors && errors.password){ %>
          <p class="txt-error">
            <%= errors.password.msg %>
          </p>
        <% } %>

        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña" class="f-input f-f" value="<%= (locals.oldData && oldData.confirmPassword) ? oldData.confirmPassword : "";%>">
        <% if (locals.errors && errors.confirmPassword){ %>
          <p class="txt-error">
            <%= errors.confirmPassword.msg %>
          </p>
        <% } %>

        <div class="flex flex-wrap jc-center p-top-10">
          <input type="submit" id="register" class="f-submit bg-2 f-f" value="Registrarse" >
          <input type="reset" id="reset" class="f-submit bg-2 f-f">
      </div>
</div>
        <div class="p-1rem">
          <button type="submit" class="f-input f-f">
            <i class="fa-brands fa-google"></i>
            Registrate con google</button>
          <button type="submit" class="f-input f-f">
            <i class="fa-brands fa-facebook-f"></i>
           Registrate con facebook</button>
         <button type="submit" class="f-input f-f">
            <i class="fa-brands fa-twitter"></i>
           Registrate con twitter</button>
          <p class="txt-center p-top-10 f-f">¿Ya tenés una cuenta?<a href="/user/login" class="f-f">  Iniciar sesion</a></p>
        </div>
        <hr>
    </form>
  </div>

    <%- include("./partials/footer") %>
   
</body>
</html>