<li class="list-card border-rad p-10px flex flex-d-column jc-bet">
    <div class="act-inf">
        <h2 class="txt-center"><%= title %></h2>
        <figure
            class="cont-card-img m-auto of-hidden m-auto flex jc-center al-items pos-relative"
        >
            <img
                class="act-img pos-absolute"
                src="<%= images[0]?.image || images[0]%>"
                alt="Actividad"
            />
        </figure>
        <div class="qual-star flex jc-end m-auto p-top-10">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star-half-stroke"></i>
        </div>
        <h2>Dias y horarios:</h2>
        <p class="fs-15">
            Días de semana: de <%= time_start %> a <%= time_end %> <%=
            time_start ? ` y de ${time_start} a ${time_end}`: ""; %>
        </p>
        <p class="fs-15">
            Fines de semana: de <%= wknd_time_start %> a <%= wknd_time_end %>
            <%= wknd_time_start ? ` y de ${wknd_time_start} a ${wknd_time_end}`:
            ""; %>
        </p>
    </div>
    <div class="flex jc-center p-10px">
        <a href="" class="cottage-button bg-3 txt-center"> Más información </a>
    </div>
</li>
