<li class="list-card border-rad p-10px flex flex-d-column jc-bet">
  <div class="act-inf">
    <h2 class="txt-center"><%= activity.name %></h2>
    <figure class="cont-card-img m-auto of-hidden m-auto flex jc-center al-items pos-relative">
      <img class="act-img" src="<%= activity.images[0].image%>" alt="Actividad" />
    </figure>
    <div class="qual-star flex jc-end m-auto p-top-10">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-regular fa-star-half-stroke"></i>
    </div>
    <!-- Si existe una primera hora de día de semana -->
    <% if (activity.hours?.weekday_hours){ %>
    <h4>Dias de semana:</h4>
    <p class="fs-15"><%= activity.hours.weekday_hours %></p>
    <p class="fs-15">
      <%= activity.hours.second_weekday_hours ?" y " +
            activity.hours.second_weekday_hours : ""; %>
    </p>

    <!-- Si existe una primera hora de fin de semana -->
    <% } %> <% if (activity.hours?.weekend_hours){ %>
    <h4>Fines de semana:</h4>
    <p class="fs-15"><%= activity.hours.weekend_hours %></p>
    <p class="fs-15">
      <%= activity.hours.second_weekend_hours ?", y " +
            activity.hours.second_weekend_hours : ""; %>
    </p>
    <% } %>
  </div>
  <div class="flex jc-center p-10px">
    <a href="" class="cottage-button bg-3 txt-center"> Más información </a>
  </div>
  <% if (userLog?.rol.name == "admin") { %>
  <div class="section-admin-buttons flex jc-evenly">
    <a class="admin-button edit-button" href="/products/cottages/edit/<%= activity.id %>"><i class="fa-solid fa-pen-to-square"></i></a>
    <a class="admin-button delete-button" href="/products/cottages/delete/<%= activity.id %>"><i class=" fa-solid fa-trash"></i></a>
  </div>
  <% } %>
</li>