<li class="list-card">
  <figure class="pos-relative of-hidden cont-card-img flex al-items">
    <img class="card-img pos-absolute w-100" src="<%= cabana.images[0].image%> " alt="foto de cabaña" />

    <a href="#" class="share-button pos-absolute flex">
      <i class="fa-solid fa-share-nodes"></i>
    </a>

    <div class="icons-beds jc-end al-items flex pos-absolute w-100">
      <i class="fa-solid fa-bed icon-bed"></i>
      <i class="fa-solid fa-bed icon-bed"></i>
      <i class="fa-solid fa-bed icon-bed"></i>
    </div>
  </figure>

  <h2 class="txt-center"><%= cabana.name %></h2>
  <div class="info-card">
    <p class="p-top-10 txt-center cottage-description">
      <%= cabana.description %>
    </p>

    <div class="txt-center">
      <a href="/generalCab" class="more-button txt-center bg-3">Más información</a>
    </div>
    <br />
    <div class="price-res flex w-100 jc-bet al-items">
      <h3>precio por noche: $<%= cabana.price %></h3>
      <a href="/product/details/<%= cabana.id  %> " class="cottage-button txt-center bg-3">reservar</a>
    </div>
  </div>
</li>