<form action="/products/cottages/<%= (isCottage && locals.oldData?.id) ? `edit/${oldData.id}?_method=PUT` : "create" %>" method="post" enctype="multipart/form-data" id="cottage-form" class="
flex flex-wrap jc-evenly p-10px bg-4 border-rad box-shadow
<%= isActivity ? "hide" : "" %>">
  <h2 class="txt-center w-100"><%= (isCottage && locals.oldData?.id) ? "Actualizar cabaña" : "Crear cabaña" %></h2>
  <div class="first-section-form flex flex-d-column w-100">


    <h2 class="form-section-title m-10 p-5px txt-center">General</h2>

    <label for="cottage_name"></label>
    <input type="text" name="name" id="cottage_name" class="f-input" placeholder="Nombre de la cabaña" value="<%= isCottage && locals.oldData?.name ? oldData.name : ""; %>" />
    <% if ( isCottage && locals.errors?.name){ %>
    <p class="txt-error"><%= errors.name.msg %></p>
    <% } %>
    <p class="errorFrontName error-front">El nombre de la cabaña debe ser mayor a 2 caracteres y no permite signos ni números</p>

    <label for="cottage_price"></label>
    <input type="number" name="price" id="cottage_price" class="f-input" placeholder="Precio por noche" value="<%= isCottage && locals.oldData?.price ? oldData.price : ""; %>" />
    <% if ( isCottage && locals.errors?.price){ %>
    <p class="txt-error"><%= errors.price.msg %></p>
    <% } %>
    <p class="errorFrontPrice error-front">Debe indicar un precio</p>

    <label for="cottage_guest"></label>
    <input type="number" name="guest" id="cottage_guest" class="f-input" placeholder="Cantidad máxima de huéspedes" value="<%= isCottage && locals.oldData?.guest ? oldData.guest : ""; %>" />
    <% if ( isCottage && locals.errors?.guest){ %>
    <p class="txt-error"><%= errors.guest.msg %></p>
    <% } %>
    <p class="errorFrontGuest error-front">Debe indicar la cantidad maxima de huéspedes (no pueden ser 0)</p>

    <label for="cottage_bedrooms"></label>
    <input type="number" name="bedrooms" id="cottage_bedrooms" class="f-input" placeholder="Habitaciones" value="<%= isCottage && locals.oldData?.bedrooms ? oldData.bedrooms : ""; %>" />
    <% if ( isCottage && locals.errors?.bedrooms){ %>
    <p class="txt-error"><%= errors.bedrooms.msg %></p>
    <% } %>
    <p class="errorFrontBedrooms error-front">Debe indicar la cantidad de habitaciones</p>

    <label for="cottage_beds"></label>
    <input type="number" name="beds" id="cottage_beds" class="f-input" placeholder="Camas" value="<%= isCottage && locals.oldData?.beds ? oldData.beds : ""; %>" />
    <% if ( isCottage && locals.errors?.beds){ %>
    <p class="txt-error"><%= errors.beds.msg %></p>
    <% } %>
    <p class="errorFrontBeds error-front">Debe indicar el número de camas</p>

    <label for="cottage_bathrooms"></label>
    <input type="number" name="bathrooms" id="cottage_bathrooms" class="f-input" placeholder="Baños" value="<%= isCottage && locals.oldData?.bathrooms ? oldData.bathrooms : ""; %>" />
    <% if ( isCottage && locals.errors?.bathrooms){ %>
    <p class="txt-error"><%= errors.bathrooms.msg %></p>
    <% } %>
    <p class="errorFrontBathrooms error-front">Debe indicar la cantidad de baños</p>

  </div>

  <div class="second-section-form flex flex-d-column w-100">

    <%- include('./services-section') %>


    <!-- input para imágenes y previsualización de imágenes -->
    <%- include("../img-section", {type: "cottage"}) %>

    <h2 class="form-section-title m-10 p-5px txt-center">Descripción</h2>

    <label for="cottage_description"></label>
    <textarea name="description" id="cottage_description" placeholder="descripción" class="m-10 p-10px border-none border-rad"><%= isCottage && locals.oldData?.description ? oldData.description : "";%></textarea>
    <% if ( isCottage && locals.errors?.description){ %>
    <p class="txt-error txt-center"><%= errors.description.msg %></p>
    <% } %>
    <p class="errorFrontDescription error-front txt-center">Debe completar la descripción de la cabaña (mínimo 10 caracteres, máximo 70 caracteres)</p>
  </div>

  <div class="w-100 txt-center">
    <button type="submit" form="cottage-form" class="f-submit bg-2 m-top-10"><%= (isCottage && locals.oldData?.id) ? "Actualizar cabaña" : "Crear cabaña" %></button>
  </div>
</form>
<script src="/js/create-forms/validatio-create-cottage.js"></script>